/* Basic styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Intro section */

section:nth-child(1) {
	display: flex;
	width: 100%;
	height: 50em;
	justify-content: center;
	align-items: center;
}

section span:first-child {
	position: relative;
	width: 30em;
	height: 30em;
	border-radius: 50%;
	background-color: red;
	display: block;
	animation: clipRotate 15s infinite;
	animation-delay: 1s;
}

section span:first-child::before {
	content: '';
	width: 5em;
	height: 32em;
	background-color: black;
	clip-path: polygon(84% 100%, 54% 100%, 56% 0%, 60% 0);
	position: absolute;
	left: 320px;
	transform: rotate(-5deg);
}

section span:first-child::after {
	content: '';
	width: 5em;
	height: 32em;
	background-color: black;
	clip-path: polygon(84% 100%, 54% 100%, 56% 0%, 60% 0);
	position: absolute;
	left: 280px;
	transform: rotate(5deg);
}

@keyframes clipRotate {
	50% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
